<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="im" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./asset/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Sein</title>
    <!--Open graph-->
    <meta property="og:title" content="Sein">
    <meta property="og:image" content="./assets/banner_servicio">
    <meta property="og:image:width" content="200px">
    <meta property="og:image:height" content="200px">
    <meta propetyy="og:url" content="https://objectstorage.us-phoenix-1.oraclecloud.com/p/h732mDBvNiuemunPNiUAEVpiUU9Lfcah5QnPJ03rkCh0mcMyOeJavirlCiq6yE9I/n/axue5bpljgxk/b/getsein/o/index.html">
    <meta property=" og:description" content="Innovation Technologies">
    <meta property="og:autor" content="Debora Carrizo">
    <meta property="og:locale" content="en_ES">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
<!--NAV 
<nav class="nav navbar sticky-top">
        <div class="container">
    <a class="navbar-brand" href="."><img src="./assets/logo sein.svg">
    </a>
    <div class="hamburger">
        <div class="_layer -top"></div>
        <div class="_layer -mid"></div>
        <div class="_layer -bottom"></div>
    </div>


    <div class="menuppal">
        <div class="navbar_logo">
            <img class="navbar_img" src="./assets/logo sein.svg">
        </div>
        <div class="submenu">  
        <div class="menuppal_right">
            <p class="menuppal_text"> get </p>
            <img class="menuppal_img"src="/assets/logo sein.svg">
        </div>
            <div class="menuppal_left">
                <p class="menuppal_subtext" id="menuppal_link"> Services <br>
                    Emerging Technologies
                </p>    

                <h4 class="menuppal_textLeft"><b> Let's build something great together </b></h4>

                <p class="menuppal_textTwo">We want to work with organizations and <br>entrepreneurs, seeking technology growth and <br> influencing innovation.</p>
            
                <button type="button" class="button_card_content" onclick="window.location.href='/form.html'">
                    Contact us</button>
    
                </div>
            </div>
    </div>
</div>
</nav>-->

<nav class=" navbar sticky-top navbar-light" id="navbar">
    <div class="container" id="navConiner">
        <a class="navbar-brand" href="#"><img src="./assets/logo sein.svg"></a>
        <div class="btn-group">
            <div class="hamburguer" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="hamburguer__bar"></div>
                <div class="hamburguer__bar"></div>
                <div class="hamburguer__bar"></div>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#foco_Section_second">Services</a></li>

                <li><a class="dropdown-item" href="#contact">Contact us</a></li>

                <li><a class="dropdown-item" href="#section_Emergin">Emerging Technology</a></li>
            </ul>
        </div>
    </div>
</nav>

    <!---FORM 

    <section id="foco_section_form" >
        <div class="foco_form"> 
        <div id="foco_form2">

            <div class="form_contact">

                <div class=" contact_divP">
                    <div class="contact_one"> 
                        <img class="contact_img" src="assets/Rectángulo 3286.svg">
                    <p class="contact_title">  Contact   </p> 
                    <img class="form_img" src="assets/flecha contacto.svg">

                </div>
                    <h3 class="contact_paragraph"> Let's build something great together
                    </h3>
                    <h4 class="contact_tree"> We want to work with organizations and entrepreneurs, <br>seeking technology growth and influencing innovation.</h4>
                </div>

                <form id="form" class="container">
                    <div class="row">
                    <div class="form-group col-md-6">
                        <p class="form_p">Name *</p>
                        <input type="text" class="form-control" placeholder="Enter your Name" ng-model="person.name" name="name" required="required" />
                      </div>
            
                      <div class="form-group col-md-6">
                        <p class="form_p">Last Name *</p>
                        <input type="text" class="form-control" placeholder="Enter your Last Name" ng-model="person.lastname" name="last" required="required"/>
                      </div>
            
                      <div class="form-group col-md-6">
                        <p class="form_p">Email *</p>
                        <input type="text" class="form-control" placeholder="Enter your Email" ng-model="Email"  name="email" required="required"/>
                      </div>


                      <div class="form-group col-md-6">
                        <p class="form_p">Organization</p>
                        <input type="text" class="form-control" placeholder="Enter your Organization" ng-model="organization"  name="organization" required="required"  />
                      </div>

                      <div class="form-group col-md-12">
                        <p class="form_p">How can we help you? Leave us your query</p>
                        <input id="message" type="text" placeholder="Leave us your message" name="message">    
                       </div>

                    </div>

                    <div class="button_div container" id="input-Id"> 
                        <input type="submit" id="button" value="Send" class="button_submit" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>-->
  

    <section id="form-section">
      
        <div class="form-content" >
            <div>
                <p class="form-title-text"><span class="form-title">HELLO</p></span><br>
                <h3 id="form-paragraph-title"> Let's build something great together
                </h3>
                <h4 id="form-paragraph"> We want to work with organizations and entrepreneurs, <br>seeking technology growth and influencing innovation.</h4>
            </div>
            <div>
                <img src="./assets/flecha-form.svg" with="20%" fill="black"  class="flecha-form"/>
            </div>
       
</section>
<section>
        <form id="form" class="container">
            <div class="row">
            <div class="form-group col-md-6">
                <p class="form_p">Name *</p>
                <input type="text" class="form-control" placeholder="Enter your Name" ng-model="person.name" name="name" required="required" />
              </div>
    
              <div class="form-group col-md-6">
                <p class="form_p">Last Name *</p>
                <input type="text" class="form-control" placeholder="Enter your Last Name" ng-model="person.lastname" name="last" required="required"/>
              </div>
    
              <div class="form-group col-md-6">
                <p class="form_p">Email *</p>
                <input type="text" class="form-control" placeholder="Enter your Email" ng-model="Email"  name="email" required="required"/>
              </div>


              <div class="form-group col-md-6">
                <p class="form_p">Organization</p>
                <input type="text" class="form-control" placeholder="Enter your Organization" ng-model="organization"  name="organization" required="required"  />
              </div>

              <div class="form-group col-md-12">
                <p class="form_p">How can we help you? Leave us your query</p>
                <input id="message" type="text" placeholder="Leave us your message" name="message">    
               </div>

            </div>

            <div class="button_div container" id="input-Id"> 
                <input type="submit" id="button" value="Send" class="button_submit" >
            </div>
        </form>

    </div>
</section>   
<footer>
        <div class=" container footer">
                <img class="footer_logo-sein"src="./assets/logo_sein-black.svg">
            <div class="footer-content">
                <a href="https://www.getsein.com/" class="footer_web"><p>getsein.com</p></a>
                <a href="#section_Emergin"> <p>Emerging Technologies</p></a>
                <a href="#foco_Section_second"><p>Service</p></a>
            </div>
            <div class="footer-content_links">
                <a href="#contact"> <p>Contact us</p></a>
                <a href="#contact"><p>About</p></a>
               
            </div>
            <div class="footer-content">
                <p>CONTACT</p>
                <p><a href="https://www.linkedin.com/company/seininnovations/" target="_blank"> <i class=" footer_logo-contact fa fa-phone" aria-hidden="true" style="rotate:90deg;"></i> +54 35110 00 -000</a></p>
                <p><a  href="form.html" target="_blank"><i class=" footer_logo-contact fa fa-envelope"aria-hidden="true"></i></i>info@sein.com  </a></p>
            </div>
            <div class="footer_social">
                <a href="https://www.instagram.com/sein.innovations/" target="_blank"><i class=" footer_logo-social fab fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/seininnovations/" target="_blank"><i class=" footer_logo-social fab fa-linkedin-in" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="container footer_color-line"></div>
        <p class="container footer_text-end"> © 2021 Sein. All rights reserved.</p>
</footer>
    <!--Footer
    <footer class="footer">
        <div class="container-xl">
            <div class="row">
                <div class="col">
                    <div class="submenu_footer">
                        <img src="assets/Grupo 6511.svg" class="submenu__titulo">
                    </div>
                </div>
                <div class="col">
                    <div class="submenu_footer">
                        <h4 class="submenu_h4">SEIN.COM</h4>
                        <ul>
                            <li><a  href="./index.html" class="submenu__link">Emerging Technologies</a></li>
                            <li><a href="./index.html" class="submenu__link">Services</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="submenu_footer">
                        <h4 class="submenu_h4">CONTACT</h4>
                        <ul>
                            <a href="https://getsein.com/" class="submenu__link"> 
                             <img class="img_footer" src="/assets/iconig.svg"></a>
                            <a href="https://getsein.com/" class="submenu__link">
                             <img class="img_footer" src="/assets/Icon Fb.svg"></a>
                           
                        </ul>
                    </div>
                </div>

               

                <div class="row subfooter">
                    <div class="lineaGradiente"> </div>
                    <div class="subfooter__end">
                        © 2021 Sein, todos los derechos reservados
                    </div>
                </div>
            </div>
    </footer>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <script type="text/javascript">
        emailjs.init('jP1SihhZhxoqNGkJ6')
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdUv9AdAAAAABFY2Cq-42JbyofqFRaNUp_y87bC"></script>
    <script src="https://kit.fontawesome.com/e6eec834c7.js" crossorigin="anonymous"></script>

    <script src="https://example.com/fontawesome/v6.2.0/js/all.js" data-auto-a11y="true"></script>

    <script src="./js/sein.js"></script>
    <script src="../js/form.js"></script>
</body>

</html>